@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    background-color: rgb(34, 34, 34);
    color: #fff;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.pagina {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(87, 87, 87);
    padding: 50px;
    border-radius: 12px;
}

h2{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}

.topo {
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
}

.topo input {
    font-size: 15px;
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #fff;
    color: black;
}

.novatarefa {
    width: 30px;
    border-radius: 12px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding: 7px;
    text-align: center;
    font-size: 15px;
    background-color: white;
}

.novatarefa:hover {
    background: #bde1ef
}

#listadetarefas {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listadetarefas li {
    
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    background-color: rgb(56, 56, 56);
    border-radius: 12px;
    display: flex;
    margin-bottom: 10px;
}

.close {
   cursor: pointer;
}
